/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hide monk image by default */
.monk_image {
    display: none;
}

/* Chatbot container */
.chatbot {
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 9999;
}

/* Chat container */
.chat-container {
    margin-bottom: 35px;
    background-color: #fff;
    display: none;
    height: 300px;
    overflow-y: auto; /* Changed to auto for scrolling */
    width: 300px;
    position: relative;
}

/* Show chat container when chatbot is open */
.chatbot.open .chat-container {
    display: block;
}

.chat-container.maximized {
    position: fixed;
    top: 10%;
    bottom: 5%;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
}

.chat-container.maximized .messages {
    margin-top: 5%;
    margin-bottom: 2%;
}

.welcome-message.maximized {
    width: 100vw;
    font-size: 32px;
    z-index: 99999;
    top: 0%;
    bottom: 0%;
    right: 0%;
    margin-bottom: 10px;
    text-align: center;
    background-color: #5479f7;
    color: #fff;
    position: fixed;
    height: 120px;
    border-radius: 0%;
}

.chat-container.maximized .input-container {
    width: 100vw;
    left: 0%;
    bottom: 0;
    display: flex;
}

/* Welcome message */
.welcome-message {
    bottom: 325px;
    right: 20px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #5479f7;
    color: #fff;
    position: fixed;
    width: 300px;
    border-top-left-radius: 20px;
    display: none;
    border-top-right-radius: 20px;
}

/* Messages container */
.messages {
    margin-top: 10px;
}

.messages div {
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 7px;
}

.messages .incoming {
    color: white;
    background: #007bff;
    margin-right: 20%;
}

.messages .outgoing {
    color: white;
    margin-left: 40%;
    background: #9db1f1;
}

.chat-container.maximized .incoming {
    margin-right: 60px;
}

.chat-container.maximized .outgoing {
    margin-left: 60%;
}

/* Input container */
.input-container {
    position: fixed;
    width: 300px;
    bottom: 0;
    display: flex;
}

.input-field {
    flex: 1;
    border: 2px solid #5479f7;
    border-bottom-left-radius: 20px;
    outline: none;
    height: 40px;
    transition: border-color 0.3s ease;
    padding: 5px;

}

.send-button {
    width: 40px;
    height: 40px;
    background-color: #5479f7;
    border: none;
    color: white;
    cursor: pointer;
    border-bottom-right-radius: 20px;
}

/* Monk image */
.monk_image {
    position: absolute;
    bottom: 100px;
    left: 0;
    margin-left: -80px;
    width: 110px;
    transform: scaleX(-1);
    z-index: 3;
}

/* Toggle button */
.toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.toggle-button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.toggle-button:focus {
    outline: none;
}

.chat-container-wrapper {
    margin-bottom: 0px;
}

#icons {
    text-align: right;
    padding-right: 3%;
    color: #fff;
    background-color: #5479f7;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  .welcome-message.welcome-message.maximized
  {
    height: 200px;
  }
  .chat-container.maximized
  {
     margin-top: 33%;
     z-index: 9999999;
  }
   
}
